* {
    box-sizing: border-box;
}

body {
    background-color: rgb(10, 46, 13);
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    padding: 0;
    margin: 0;
}

.topo {
    text-align: center;
    background-color: #3f5515;
    padding: 30px;
}

.topo h1 {
    font-size: 50px;
}

.menuTopo {
    text-align: center;
    background-color: #000000;
    overflow: hidden;
    position: sticky;
    top: 10px;
}

.menuTopo ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuTopo ul li {
    float: left;
}

.menuTopo a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    background-color: #466b46;
    border-radius: 2px;
    margin: 5px;
}

.menuTopo a:hover {
    background-color: #a8d3b9;
    color: #000;
    font-weight: bold;
}

.direita{
    flex: 1;
	margin: 5px;
	font-size: 1.5em;
    background-color: #642481;
    border: 1px solid white;
    width: 100%;
}

.Imagens img{
    width: 100%;
    padding: 5px;
}

.container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex: 1;
 }

 